{{#each this}}
  <div class="place">
    <h3>{{location}}</h3>
    <img class="img-responsive" src={{imgurl}} width="300px">
    <br>
    <h4>{{location_type}}</h4>
    <br>
    <h4>Visited: {{visited}}</h5>
    <br>
    <h5><strong>Reviews: </strong></h5>
    {{#each reviews}}
    <div class="review">
      <span>{{title}}</span> | <span>{{date}}</span>
      <br>
      <p>
        {{text}}
      </p>
    </div>
    {{/each}}

    <button class="btn btn-default placesButton" id="add-review#{{@key}}">Add a review</button>
  </div>
{{/each}}